{% extends 'base.html' %}
{% block content %}
<div class="library-book-area mg-t-30">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        {% comment %} <a href="{% url 'barcode_scanner' %}">
          <div
            class="hpanel widget-int-shape responsive-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30"
          >
            <div class="panel-body">
              <div class="stats-title pull-left">
                <h4>SCAN QR CODE</h4>
                <p>SCAN PELANGGARAN DATA SISWA</p>
              </div>
              <div class="stats-icon pull-right">
                <i class="educate-icon educate-department"></i>
              </div>
            </div>
          </div>
        </a> {% endcomment %}
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        {% comment %} <a href="{% url 'barcode_scanner' %}">
          <div
            class="hpanel widget-int-shape responsive-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30"
          >
            <div class="panel-body">
              <div class="stats-title pull-left">
                <h4>SCAN QR CODE</h4>
                <p>SCAN HISTORY PELANGGARAN SISWA</p>
              </div>
              <div class="stats-icon pull-right">
                <i class="educate-icon educate-department"></i>
              </div>
            </div>
          </div>
        </a> {% endcomment %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
